<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>File</key>
				<string>emoji_101.png</string>
				<key>ID</key>
				<string>emoticon_emoji_01</string>
				<key>Tag</key>
				<string>[微笑1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_102.png</string>
				<key>ID</key>
				<string>emoticon_emoji_02</string>
				<key>Tag</key>
				<string>[大笑1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_103.png</string>
				<key>ID</key>
				<string>emoticon_emoji_03</string>
				<key>Tag</key>
				<string>[可爱]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_104.png</string>
				<key>ID</key>
				<string>emoticon_emoji_04</string>
				<key>Tag</key>
				<string>[得意1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_105.png</string>
				<key>ID</key>
				<string>emoticon_emoji_05</string>
				<key>Tag</key>
				<string>[色1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_106.png</string>
				<key>ID</key>
				<string>emoticon_emoji_06</string>
				<key>Tag</key>
				<string>[发呆1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_107.png</string>
				<key>ID</key>
				<string>emoticon_emoji_07</string>
				<key>Tag</key>
				<string>[笑哭1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_108.png</string>
				<key>ID</key>
				<string>emoticon_emoji_08</string>
				<key>Tag</key>
				<string>[调皮1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_109.png</string>
				<key>ID</key>
				<string>emoticon_emoji_09</string>
				<key>Tag</key>
				<string>[憨笑]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_110.png</string>
				<key>ID</key>
				<string>emoticon_emoji_10</string>
				<key>Tag</key>
				<string>[认真]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_111.png</string>
				<key>ID</key>
				<string>emoticon_emoji_11</string>
				<key>Tag</key>
				<string>[开心]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_112.png</string>
				<key>ID</key>
				<string>emoticon_emoji_12</string>
				<key>Tag</key>
				<string>[疑问1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_113.png</string>
				<key>ID</key>
				<string>emoticon_emoji_13</string>
				<key>Tag</key>
				<string>[睡]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_114.png</string>
				<key>ID</key>
				<string>emoticon_emoji_14</string>
				<key>Tag</key>
				<string>[流口水]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_115.png</string>
				<key>ID</key>
				<string>emoticon_emoji_15</string>
				<key>Tag</key>
				<string>[流泪1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_116.png</string>
				<key>ID</key>
				<string>emoticon_emoji_16</string>
				<key>Tag</key>
				<string>[悠闲]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_117.png</string>
				<key>ID</key>
				<string>emoticon_emoji_17</string>
				<key>Tag</key>
				<string>[么么哒]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_118.png</string>
				<key>ID</key>
				<string>emoticon_emoji_18</string>
				<key>Tag</key>
				<string>[抱抱]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_119.png</string>
				<key>ID</key>
				<string>emoticon_emoji_19</string>
				<key>Tag</key>
				<string>[挤眼1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_120.png</string>
				<key>ID</key>
				<string>emoticon_emoji_20</string>
				<key>Tag</key>
				<string>[吐舌头]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_121.png</string>
				<key>ID</key>
				<string>emoticon_emoji_21</string>
				<key>Tag</key>
				<string>[期待]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_122.png</string>
				<key>ID</key>
				<string>emoticon_emoji_22</string>
				<key>Tag</key>
				<string>[尴尬1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_123.png</string>
				<key>ID</key>
				<string>emoticon_emoji_23</string>
				<key>Tag</key>
				<string>[皱眉]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_124.png</string>
				<key>ID</key>
				<string>emoticon_emoji_24</string>
				<key>Tag</key>
				<string>[不理你]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_125.png</string>
				<key>ID</key>
				<string>emoticon_emoji_25</string>
				<key>Tag</key>
				<string>[流汗]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_126.png</string>
				<key>ID</key>
				<string>emoticon_emoji_26</string>
				<key>Tag</key>
				<string>[难过]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_127.png</string>
				<key>ID</key>
				<string>emoticon_emoji_27</string>
				<key>Tag</key>
				<string>[惊讶]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_128.png</string>
				<key>ID</key>
				<string>emoticon_emoji_28</string>
				<key>Tag</key>
				<string>[晕1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_129.png</string>
				<key>ID</key>
				<string>emoticon_emoji_29</string>
				<key>Tag</key>
				<string>[可怜]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_130.png</string>
				<key>ID</key>
				<string>emoticon_emoji_30</string>
				<key>Tag</key>
				<string>[抓狂]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_131.png</string>
				<key>ID</key>
				<string>emoticon_emoji_31</string>
				<key>Tag</key>
				<string>[亲亲1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_132.png</string>
				<key>ID</key>
				<string>emoticon_emoji_32</string>
				<key>Tag</key>
				<string>[财迷1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_133.png</string>
				<key>ID</key>
				<string>emoticon_emoji_33</string>
				<key>Tag</key>
				<string>[囧]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_134.png</string>
				<key>ID</key>
				<string>emoticon_emoji_34</string>
				<key>Tag</key>
				<string>[生病]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_135.png</string>
				<key>ID</key>
				<string>emoticon_emoji_35</string>
				<key>Tag</key>
				<string>[闭嘴]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_136.png</string>
				<key>ID</key>
				<string>emoticon_emoji_36</string>
				<key>Tag</key>
				<string>[撒谎]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_137.png</string>
				<key>ID</key>
				<string>emoticon_emoji_37</string>
				<key>Tag</key>
				<string>[白眼]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_138.png</string>
				<key>ID</key>
				<string>emoticon_emoji_38</string>
				<key>Tag</key>
				<string>[难受]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_139.png</string>
				<key>ID</key>
				<string>emoticon_emoji_39</string>
				<key>Tag</key>
				<string>[思考]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_140.png</string>
				<key>ID</key>
				<string>emoticon_emoji_40</string>
				<key>Tag</key>
				<string>[发怒1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_141.png</string>
				<key>ID</key>
				<string>emoticon_emoji_41</string>
				<key>Tag</key>
				<string>[郁闷]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_142.png</string>
				<key>ID</key>
				<string>emoticon_emoji_42</string>
				<key>Tag</key>
				<string>[不开心]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_143.png</string>
				<key>ID</key>
				<string>emoticon_emoji_43</string>
				<key>Tag</key>
				<string>[生气1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_144.png</string>
				<key>ID</key>
				<string>emoticon_emoji_44</string>
				<key>Tag</key>
				<string>[发脾气]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_145.png</string>
				<key>ID</key>
				<string>emoticon_emoji_45</string>
				<key>Tag</key>
				<string>[撇嘴]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_146.png</string>
				<key>ID</key>
				<string>emoticon_emoji_46</string>
				<key>Tag</key>
				<string>[享受]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_147.png</string>
				<key>ID</key>
				<string>emoticon_emoji_47</string>
				<key>Tag</key>
				<string>[叹气]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_148.png</string>
				<key>ID</key>
				<string>emoticon_emoji_48</string>
				<key>Tag</key>
				<string>[哀]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_149.png</string>
				<key>ID</key>
				<string>emoticon_emoji_49</string>
				<key>Tag</key>
				<string>[委屈1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_150.png</string>
				<key>ID</key>
				<string>emoticon_emoji_50</string>
				<key>Tag</key>
				<string>[惊呆了]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_151.png</string>
				<key>ID</key>
				<string>emoticon_emoji_51</string>
				<key>Tag</key>
				<string>[冷汗]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_152.png</string>
				<key>ID</key>
				<string>emoticon_emoji_52</string>
				<key>Tag</key>
				<string>[歪头]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_153.png</string>
				<key>ID</key>
				<string>emoticon_emoji_53</string>
				<key>Tag</key>
				<string>[天使]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_154.png</string>
				<key>ID</key>
				<string>emoticon_emoji_54</string>
				<key>Tag</key>
				<string>[恶魔]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_155.png</string>
				<key>ID</key>
				<string>emoticon_emoji_55</string>
				<key>Tag</key>
				<string>[握手1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_156.png</string>
				<key>ID</key>
				<string>emoticon_emoji_56</string>
				<key>Tag</key>
				<string>[OK1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_157.png</string>
				<key>ID</key>
				<string>emoticon_emoji_57</string>
				<key>Tag</key>
				<string>[真棒]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_158.png</string>
				<key>ID</key>
				<string>emoticon_emoji_58</string>
				<key>Tag</key>
				<string>[力量]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_159.png</string>
				<key>ID</key>
				<string>emoticon_emoji_59</string>
				<key>Tag</key>
				<string>[送花]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_160.png</string>
				<key>ID</key>
				<string>emoticon_emoji_60</string>
				<key>Tag</key>
				<string>[星星]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_161.png</string>
				<key>ID</key>
				<string>emoticon_emoji_61</string>
				<key>Tag</key>
				<string>[太阳1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_162.png</string>
				<key>ID</key>
				<string>emoticon_emoji_62</string>
				<key>Tag</key>
				<string>[灯泡]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_163.png</string>
				<key>ID</key>
				<string>emoticon_emoji_63</string>
				<key>Tag</key>
				<string>[绿茶]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_164.png</string>
				<key>ID</key>
				<string>emoticon_emoji_64</string>
				<key>Tag</key>
				<string>[啤酒]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_165.png</string>
				<key>ID</key>
				<string>emoticon_emoji_65</string>
				<key>Tag</key>
				<string>[美酒]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_166.png</string>
				<key>ID</key>
				<string>emoticon_emoji_66</string>
				<key>Tag</key>
				<string>[果汁]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_167.png</string>
				<key>ID</key>
				<string>emoticon_emoji_67</string>
				<key>Tag</key>
				<string>[咖啡]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_169.png</string>
				<key>ID</key>
				<string>emoticon_emoji_68</string>
				<key>Tag</key>
				<string>[礼物]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_168.png</string>
				<key>ID</key>
				<string>emoticon_emoji_69</string>
				<key>Tag</key>
				<string>[蛋糕1]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_170.png</string>
				<key>ID</key>
				<string>emoticon_emoji_70</string>
				<key>Tag</key>
				<string>[干杯]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_171.png</string>
				<key>ID</key>
				<string>emoticon_emoji_71</string>
				<key>Tag</key>
				<string>[庆贺]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_172.png</string>
				<key>ID</key>
				<string>emoticon_emoji_72</string>
				<key>Tag</key>
				<string>[蝴蝶结]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_173.png</string>
				<key>ID</key>
				<string>emoticon_emoji_73</string>
				<key>Tag</key>
				<string>[汽球]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_174.png</string>
				<key>ID</key>
				<string>emoticon_emoji_74</string>
				<key>Tag</key>
				<string>[风铃]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_175.png</string>
				<key>ID</key>
				<string>emoticon_emoji_75</string>
				<key>Tag</key>
				<string>[奖杯]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_176.png</string>
				<key>ID</key>
				<string>emoticon_emoji_76</string>
				<key>Tag</key>
				<string>[红心]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_177.png</string>
				<key>ID</key>
				<string>emoticon_emoji_77</string>
				<key>Tag</key>
				<string>[万圣节]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_178.png</string>
				<key>ID</key>
				<string>emoticon_emoji_78</string>
				<key>Tag</key>
				<string>[圣诞树]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_179.png</string>
				<key>ID</key>
				<string>emoticon_emoji_79</string>
				<key>Tag</key>
				<string>[圣诞老人]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_180.png</string>
				<key>ID</key>
				<string>emoticon_emoji_80</string>
				<key>Tag</key>
				<string>[彩虹伞]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_181.png</string>
				<key>ID</key>
				<string>emoticon_emoji_81</string>
				<key>Tag</key>
				<string>[下雨]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_182.png</string>
				<key>ID</key>
				<string>emoticon_emoji_82</string>
				<key>Tag</key>
				<string>[雪花]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_183.png</string>
				<key>ID</key>
				<string>emoticon_emoji_83</string>
				<key>Tag</key>
				<string>[雪人]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>emoji_184.png</string>
				<key>ID</key>
				<string>emoticon_emoji_84</string>
				<key>Tag</key>
				<string>[便便]</string>
			</dict>
		</array>
		<key>info</key>
		<dict>
			<key>ID</key>
			<string>default</string>
			<key>Icon</key>
			<string>emoj_s_normal.png</string>
			<key>IconPressed</key>
			<string>emoj_s_pressed.png</string>
			<key>Title</key>
			<string>emoji</string>
		</dict>
	</dict>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>File</key>
				<string>other_101.png</string>
				<key>ID</key>
				<string>emoticon_other_01</string>
				<key>Tag</key>
				<string>[微笑]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_102.png</string>
				<key>ID</key>
				<string>emoticon_other_02</string>
				<key>Tag</key>
				<string>[亲亲]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_103.png</string>
				<key>ID</key>
				<string>emoticon_other_03</string>
				<key>Tag</key>
				<string>[色]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_104.png</string>
				<key>ID</key>
				<string>emoticon_other_04</string>
				<key>Tag</key>
				<string>[惊呆]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_105.png</string>
				<key>ID</key>
				<string>emoticon_other_05</string>
				<key>Tag</key>
				<string>[得意]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_106.png</string>
				<key>ID</key>
				<string>emoticon_other_06</string>
				<key>Tag</key>
				<string>[流泪]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_107.png</string>
				<key>ID</key>
				<string>emoticon_other_07</string>
				<key>Tag</key>
				<string>[捂脸]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_108.png</string>
				<key>ID</key>
				<string>emoticon_other_08</string>
				<key>Tag</key>
				<string>[笑哭]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_109.png</string>
				<key>ID</key>
				<string>emoticon_other_09</string>
				<key>Tag</key>
				<string>[困]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_110.png</string>
				<key>ID</key>
				<string>emoticon_other_10</string>
				<key>Tag</key>
				<string>[害怕]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_111.png</string>
				<key>ID</key>
				<string>emoticon_other_11</string>
				<key>Tag</key>
				<string>[挤眼]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_112.png</string>
				<key>ID</key>
				<string>emoticon_other_12</string>
				<key>Tag</key>
				<string>[打哈欠]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_113.png</string>
				<key>ID</key>
				<string>emoticon_other_13</string>
				<key>Tag</key>
				<string>[吃瓜]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_114.png</string>
				<key>ID</key>
				<string>emoticon_other_14</string>
				<key>Tag</key>
				<string>[财迷]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_115.png</string>
				<key>ID</key>
				<string>emoticon_other_15</string>
				<key>Tag</key>
				<string>[兴奋]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_116.png</string>
				<key>ID</key>
				<string>emoticon_other_16</string>
				<key>Tag</key>
				<string>[疑问]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_117.png</string>
				<key>ID</key>
				<string>emoticon_other_17</string>
				<key>Tag</key>
				<string>[爱心]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_118.png</string>
				<key>ID</key>
				<string>emoticon_other_18</string>
				<key>Tag</key>
				<string>[心碎]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_119.png</string>
				<key>ID</key>
				<string>emoticon_other_19</string>
				<key>Tag</key>
				<string>[NO]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_120.png</string>
				<key>ID</key>
				<string>emoticon_other_20</string>
				<key>Tag</key>
				<string>[YES]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_121.png</string>
				<key>ID</key>
				<string>emoticon_other_21</string>
				<key>Tag</key>
				<string>[OK]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_122.png</string>
				<key>ID</key>
				<string>emoticon_other_22</string>
				<key>Tag</key>
				<string>[强]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_123.png</string>
				<key>ID</key>
				<string>emoticon_other_23</string>
				<key>Tag</key>
				<string>[弱]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_124.png</string>
				<key>ID</key>
				<string>emoticon_other_24</string>
				<key>Tag</key>
				<string>[握手]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_125.png</string>
				<key>ID</key>
				<string>emoticon_other_25</string>
				<key>Tag</key>
				<string>[呕吐]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_126.png</string>
				<key>ID</key>
				<string>emoticon_other_26</string>
				<key>Tag</key>
				<string>[沉思]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_127.png</string>
				<key>ID</key>
				<string>emoticon_other_27</string>
				<key>Tag</key>
				<string>[晕]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_128.png</string>
				<key>ID</key>
				<string>emoticon_other_28</string>
				<key>Tag</key>
				<string>[衰]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_129.png</string>
				<key>ID</key>
				<string>emoticon_other_29</string>
				<key>Tag</key>
				<string>[骷髅]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_130.png</string>
				<key>ID</key>
				<string>emoticon_other_30</string>
				<key>Tag</key>
				<string>[冷漠]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_131.png</string>
				<key>ID</key>
				<string>emoticon_other_31</string>
				<key>Tag</key>
				<string>[尴尬]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_132.png</string>
				<key>ID</key>
				<string>emoticon_other_32</string>
				<key>Tag</key>
				<string>[抠鼻]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_133.png</string>
				<key>ID</key>
				<string>emoticon_other_33</string>
				<key>Tag</key>
				<string>[坏笑]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_134.png</string>
				<key>ID</key>
				<string>emoticon_other_34</string>
				<key>Tag</key>
				<string>[委屈]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_135.png</string>
				<key>ID</key>
				<string>emoticon_other_35</string>
				<key>Tag</key>
				<string>[鄙视]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_136.png</string>
				<key>ID</key>
				<string>emoticon_other_36</string>
				<key>Tag</key>
				<string>[发怒]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_137.png</string>
				<key>ID</key>
				<string>emoticon_other_37</string>
				<key>Tag</key>
				<string>[调皮]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_138.png</string>
				<key>ID</key>
				<string>emoticon_other_38</string>
				<key>Tag</key>
				<string>[大笑]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_139.png</string>
				<key>ID</key>
				<string>emoticon_other_39</string>
				<key>Tag</key>
				<string>[发呆]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_140.png</string>
				<key>ID</key>
				<string>emoticon_other_40</string>
				<key>Tag</key>
				<string>[生气]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_141.png</string>
				<key>ID</key>
				<string>emoticon_other_41</string>
				<key>Tag</key>
				<string>[害羞]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_142.png</string>
				<key>ID</key>
				<string>emoticon_other_42</string>
				<key>Tag</key>
				<string>[嘘]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_143.png</string>
				<key>ID</key>
				<string>emoticon_other_43</string>
				<key>Tag</key>
				<string>[睡眠]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_144.png</string>
				<key>ID</key>
				<string>emoticon_other_44</string>
				<key>Tag</key>
				<string>[蛋糕]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_145.png</string>
				<key>ID</key>
				<string>emoticon_other_45</string>
				<key>Tag</key>
				<string>[猪]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_146.png</string>
				<key>ID</key>
				<string>emoticon_other_46</string>
				<key>Tag</key>
				<string>[拥抱]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_147.png</string>
				<key>ID</key>
				<string>emoticon_other_47</string>
				<key>Tag</key>
				<string>[太阳]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_148.png</string>
				<key>ID</key>
				<string>emoticon_other_48</string>
				<key>Tag</key>
				<string>[月亮]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_149.png</string>
				<key>ID</key>
				<string>emoticon_other_49</string>
				<key>Tag</key>
				<string>[玫瑰]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_150.png</string>
				<key>ID</key>
				<string>emoticon_other_50</string>
				<key>Tag</key>
				<string>[魅惑]</string>
			</dict>
			<dict>
				<key>File</key>
				<string>other_151.png</string>
				<key>ID</key>
				<string>emoticon_other_51</string>
				<key>Tag</key>
				<string>[红唇]</string>
			</dict>
		</array>
		<key>info</key>
		<dict>
			<key>ID</key>
			<string>other</string>
			<key>Icon</key>
			<string>other_s_normal.png</string>
			<key>IconPressed</key>
			<string>other_s_pressed.png</string>
			<key>Title</key>
			<string>other</string>
		</dict>
	</dict>
</array>
</plist>
