<?xml version="1.0" encoding="utf-8"?>
<PopoEmoticons>
    <Catalog ID="other" Title="other" Icon="other_s_normal.png" IconPressed="other_s_pressed.png">
        <Emoticon ID="emoticon_other_01" Tag="[微笑]" File="other_101.png"/>
        <Emoticon ID="emoticon_other_02" Tag="[亲亲]" File="other_102.png"/>
        <Emoticon ID="emoticon_other_03" Tag="[色]" File="other_103.png"/>
        <Emoticon ID="emoticon_other_04" Tag="[惊呆]" File="other_104.png"/>
        <Emoticon ID="emoticon_other_05" Tag="[得意]" File="other_105.png"/>
        <Emoticon ID="emoticon_other_06" Tag="[流泪]" File="other_106.png"/>
        <Emoticon ID="emoticon_other_07" Tag="[捂脸]" File="other_107.png"/>
        <Emoticon ID="emoticon_other_08" Tag="[笑哭]" File="other_108.png"/>
        <Emoticon ID="emoticon_other_09" Tag="[困]" File="other_109.png"/>
        <Emoticon ID="emoticon_other_10" Tag="[害怕]" File="other_110.png"/>
        <Emoticon ID="emoticon_other_11" Tag="[挤眼]" File="other_111.png"/>
        <Emoticon ID="emoticon_other_12" Tag="[打哈欠]" File="other_112.png"/>
        <Emoticon ID="emoticon_other_13" Tag="[吃瓜]" File="other_113.png"/>
        <Emoticon ID="emoticon_other_14" Tag="[财迷]" File="other_114.png"/>
        <Emoticon ID="emoticon_other_15" Tag="[兴奋]" File="other_115.png"/>

        <Emoticon ID="emoticon_other_16" Tag="[疑问]" File="other_116.png"/>
        <Emoticon ID="emoticon_other_17" Tag="[加油]" File="other_154.png"/>
        <Emoticon ID="emoticon_other_18" Tag="[呕吐]" File="other_125.png"/>
        <Emoticon ID="emoticon_other_19" Tag="[沉思]" File="other_126.png"/>
        <Emoticon ID="emoticon_other_20" Tag="[暗中窥视]" File="other_157.png"/>
        <Emoticon ID="emoticon_other_21" Tag="[晕]" File="other_127.png"/>
        <Emoticon ID="emoticon_other_22" Tag="[衰]" File="other_128.png"/>
        <Emoticon ID="emoticon_other_24" Tag="[冷漠]" File="other_130.png"/>
        <Emoticon ID="emoticon_other_25" Tag="[尴尬]" File="other_131.png"/>
        <Emoticon ID="emoticon_other_26" Tag="[擦汗]" File="other_156.png"/>
        <Emoticon ID="emoticon_other_27" Tag="[抠鼻]" File="other_132.png"/>

        <Emoticon ID="emoticon_other_28" Tag="[委屈]" File="other_134.png"/>
        <Emoticon ID="emoticon_other_29" Tag="[拜托]" File="other_155.png"/>
        <Emoticon ID="emoticon_other_30" Tag="[鄙视]" File="other_135.png"/>
        <Emoticon ID="emoticon_other_31" Tag="[发怒]" File="other_136.png"/>
        <Emoticon ID="emoticon_other_32" Tag="[打脸]" File="other_158.png"/>
        <Emoticon ID="emoticon_other_33" Tag="[坏笑]" File="other_133.png"/>
        <Emoticon ID="emoticon_other_34" Tag="[调皮]" File="other_137.png"/>
        <Emoticon ID="emoticon_other_35" Tag="[大笑]" File="other_138.png"/>
        <Emoticon ID="emoticon_other_36" Tag="[发呆]" File="other_139.png"/>
        <Emoticon ID="emoticon_other_37" Tag="[生气]" File="other_140.png"/>
        <Emoticon ID="emoticon_other_38" Tag="[害羞]" File="other_141.png"/>
        <Emoticon ID="emoticon_other_39" Tag="[嘘]" File="other_142.png"/>
        <Emoticon ID="emoticon_other_40" Tag="[睡眠]" File="other_143.png"/>
        <Emoticon ID="emoticon_other_41" Tag="[生病]" File="other_152.png"/>

        <Emoticon ID="emoticon_other_42" Tag="[NO]" File="other_119.png"/>
        <Emoticon ID="emoticon_other_43" Tag="[YES]" File="other_120.png"/>
        <Emoticon ID="emoticon_other_44" Tag="[OK]" File="other_121.png"/>
        <Emoticon ID="emoticon_other_45" Tag="[强]" File="other_122.png"/>
        <Emoticon ID="emoticon_other_46" Tag="[弱]" File="other_123.png"/>
        <Emoticon ID="emoticon_other_47" Tag="[握手]" File="other_124.png"/>
        <Emoticon ID="emoticon_other_48" Tag="[鼓掌]" File="other_160.png"/>
        <Emoticon ID="emoticon_other_49" Tag="[抱拳]" File="other_153.png"/>
        <Emoticon ID="emoticon_other_50" Tag="[保佑]" File="other_159.png"/>
        <Emoticon ID="emoticon_other_51" Tag="[爱心]" File="other_117.png"/>
        <Emoticon ID="emoticon_other_52" Tag="[心碎]" File="other_118.png"/>

        <Emoticon ID="emoticon_other_53" Tag="[蛋糕]" File="other_144.png"/>
        <Emoticon ID="emoticon_other_55" Tag="[拥抱]" File="other_146.png"/>
        <Emoticon ID="emoticon_other_56" Tag="[太阳]" File="other_147.png"/>
        <Emoticon ID="emoticon_other_57" Tag="[月亮]" File="other_148.png"/>
        <Emoticon ID="emoticon_other_58" Tag="[玫瑰]" File="other_149.png"/>
        <Emoticon ID="emoticon_other_61" Tag="[相机]" File="other_166.png"/>
        <Emoticon ID="emoticon_other_62" Tag="[电脑]" File="other_165.png"/>
        <Emoticon ID="emoticon_other_63" Tag="[邮件]" File="other_167.png"/>

        <Emoticon ID="emoticon_other_64" Tag="[啤酒]" File="other_161.png"/>
        <Emoticon ID="emoticon_other_65" Tag="[奶茶]" File="other_162.png"/>
        <Emoticon ID="emoticon_other_66" Tag="[庆祝]" File="other_163.png"/>
        <Emoticon ID="emoticon_other_68" Tag="[高铁]" File="other_169.png"/>
        <Emoticon ID="emoticon_other_69" Tag="[飞机]" File="other_171.png"/>
        <Emoticon ID="emoticon_other_70" Tag="[地铁]" File="other_168.png"/>
        <Emoticon ID="emoticon_other_71" Tag="[汽车]" File="other_172.png"/>
        <Emoticon ID="emoticon_other_72" Tag="[自行车]" File="other_170.png"/>

    </Catalog>
    <Catalog ID="default" Title="emoji" Icon="emoj_s_normal.png" IconPressed="emoj_s_pressed.png">
        <Emoticon ID="emoticon_emoji_01" Tag="[微笑1]" File="emoji_101.png"/>
        <Emoticon ID="emoticon_emoji_02" Tag="[大笑1]" File="emoji_102.png"/>
        <Emoticon ID="emoticon_emoji_03" Tag="[可爱]" File="emoji_103.png"/>
        <Emoticon ID="emoticon_emoji_04" Tag="[得意1]" File="emoji_104.png"/>
        <Emoticon ID="emoticon_emoji_05" Tag="[色1]" File="emoji_105.png"/>
        <Emoticon ID="emoticon_emoji_06" Tag="[发呆1]" File="emoji_106.png"/>
        <Emoticon ID="emoticon_emoji_07" Tag="[笑哭1]" File="emoji_107.png"/>
        <Emoticon ID="emoticon_emoji_08" Tag="[调皮1]" File="emoji_108.png"/>
        <Emoticon ID="emoticon_emoji_09" Tag="[憨笑]" File="emoji_109.png"/>
        <Emoticon ID="emoticon_emoji_10" Tag="[认真]" File="emoji_110.png"/>
        <Emoticon ID="emoticon_emoji_11" Tag="[开心]" File="emoji_111.png"/>
        <Emoticon ID="emoticon_emoji_12" Tag="[疑问1]" File="emoji_112.png"/>
        <Emoticon ID="emoticon_emoji_13" Tag="[睡]" File="emoji_113.png"/>
        <Emoticon ID="emoticon_emoji_14" Tag="[流口水]" File="emoji_114.png"/>
        <Emoticon ID="emoticon_emoji_15" Tag="[流泪1]" File="emoji_115.png"/>
        
        <Emoticon ID="emoticon_emoji_16" Tag="[悠闲]" File="emoji_116.png"/>
        <Emoticon ID="emoticon_emoji_17" Tag="[么么哒]" File="emoji_117.png"/>
        <Emoticon ID="emoticon_emoji_18" Tag="[抱抱]" File="emoji_118.png"/>
        <Emoticon ID="emoticon_emoji_19" Tag="[挤眼1]" File="emoji_119.png"/>
        <Emoticon ID="emoticon_emoji_20" Tag="[吐舌头]" File="emoji_120.png"/>
        <Emoticon ID="emoticon_emoji_21" Tag="[期待]" File="emoji_121.png"/>
        <Emoticon ID="emoticon_emoji_22" Tag="[尴尬1]" File="emoji_122.png"/>
        <Emoticon ID="emoticon_emoji_23" Tag="[皱眉]" File="emoji_123.png"/>
        <Emoticon ID="emoticon_emoji_24" Tag="[不理你]" File="emoji_124.png"/>
        <Emoticon ID="emoticon_emoji_25" Tag="[流汗]" File="emoji_125.png"/>
        <Emoticon ID="emoticon_emoji_26" Tag="[难过]" File="emoji_126.png"/>
        <Emoticon ID="emoticon_emoji_27" Tag="[惊讶]" File="emoji_127.png"/>
        <Emoticon ID="emoticon_emoji_28" Tag="[晕1]" File="emoji_128.png"/>
        <Emoticon ID="emoticon_emoji_29" Tag="[可怜]" File="emoji_129.png"/>
        <Emoticon ID="emoticon_emoji_30" Tag="[抓狂]" File="emoji_130.png"/>
        
        
        <Emoticon ID="emoticon_emoji_31" Tag="[亲亲1]" File="emoji_131.png"/>
        <Emoticon ID="emoticon_emoji_32" Tag="[财迷1]" File="emoji_132.png"/>
        <Emoticon ID="emoticon_emoji_33" Tag="[囧]" File="emoji_133.png"/>
        <Emoticon ID="emoticon_emoji_34" Tag="[生病1]" File="emoji_134.png"/>
        <Emoticon ID="emoticon_emoji_35" Tag="[闭嘴]" File="emoji_135.png"/>
        <Emoticon ID="emoticon_emoji_36" Tag="[撒谎]" File="emoji_136.png"/>
        <Emoticon ID="emoticon_emoji_37" Tag="[白眼]" File="emoji_137.png"/>
        <Emoticon ID="emoticon_emoji_38" Tag="[难受]" File="emoji_138.png"/>
        <Emoticon ID="emoticon_emoji_39" Tag="[思考]" File="emoji_139.png"/>
        <Emoticon ID="emoticon_emoji_40" Tag="[发怒1]" File="emoji_140.png"/>
        
        <Emoticon ID="emoticon_emoji_41" Tag="[郁闷]" File="emoji_141.png"/>
        <Emoticon ID="emoticon_emoji_42" Tag="[不开心]" File="emoji_142.png"/>
        <Emoticon ID="emoticon_emoji_43" Tag="[生气1]" File="emoji_143.png"/>
        <Emoticon ID="emoticon_emoji_44" Tag="[发脾气]" File="emoji_144.png"/>
        <Emoticon ID="emoticon_emoji_45" Tag="[撇嘴]" File="emoji_145.png"/>
        <Emoticon ID="emoticon_emoji_46" Tag="[享受]" File="emoji_146.png"/>
        <Emoticon ID="emoticon_emoji_47" Tag="[叹气]" File="emoji_147.png"/>
        <Emoticon ID="emoticon_emoji_48" Tag="[哀]" File="emoji_148.png"/>
        <Emoticon ID="emoticon_emoji_49" Tag="[委屈1]" File="emoji_149.png"/>
        <Emoticon ID="emoticon_emoji_50" Tag="[惊呆了]" File="emoji_150.png"/>
        <Emoticon ID="emoticon_emoji_51" Tag="[冷汗]" File="emoji_151.png"/>
        <Emoticon ID="emoticon_emoji_52" Tag="[歪头]" File="emoji_152.png"/>
        <Emoticon ID="emoticon_emoji_53" Tag="[天使]" File="emoji_153.png"/>
        <Emoticon ID="emoticon_emoji_54" Tag="[恶魔]" File="emoji_154.png"/>
        
        <Emoticon ID="emoticon_emoji_55" Tag="[握手1]" File="emoji_155.png"/>
        <Emoticon ID="emoticon_emoji_56" Tag="[OK1]" File="emoji_156.png"/>
        <Emoticon ID="emoticon_emoji_57" Tag="[真棒]" File="emoji_157.png"/>
        <Emoticon ID="emoticon_emoji_58" Tag="[力量]" File="emoji_158.png"/>
        <Emoticon ID="emoticon_emoji_59" Tag="[送花]" File="emoji_159.png"/>
        <Emoticon ID="emoticon_emoji_60" Tag="[星星]" File="emoji_160.png"/>
        <Emoticon ID="emoticon_emoji_61" Tag="[太阳1]" File="emoji_161.png"/>
        <Emoticon ID="emoticon_emoji_62" Tag="[灯泡]" File="emoji_162.png"/>
        <Emoticon ID="emoticon_emoji_63" Tag="[绿茶]" File="emoji_163.png"/>
        <Emoticon ID="emoticon_emoji_64" Tag="[啤酒1]" File="emoji_164.png"/>
        <Emoticon ID="emoticon_emoji_65" Tag="[美酒]" File="emoji_165.png"/>
        <Emoticon ID="emoticon_emoji_66" Tag="[果汁]" File="emoji_166.png"/>
        <Emoticon ID="emoticon_emoji_67" Tag="[咖啡]" File="emoji_167.png"/>
        <Emoticon ID="emoticon_emoji_68" Tag="[礼物]" File="emoji_169.png"/>
        <Emoticon ID="emoticon_emoji_69" Tag="[蛋糕1]" File="emoji_168.png"/>
        <Emoticon ID="emoticon_emoji_70" Tag="[干杯]" File="emoji_170.png"/>
        <Emoticon ID="emoticon_emoji_71" Tag="[庆贺]" File="emoji_171.png"/>
        <Emoticon ID="emoticon_emoji_72" Tag="[蝴蝶结]" File="emoji_172.png"/>
        <Emoticon ID="emoticon_emoji_73" Tag="[汽球]" File="emoji_173.png"/>
        <Emoticon ID="emoticon_emoji_74" Tag="[风铃]" File="emoji_174.png"/>
        <Emoticon ID="emoticon_emoji_75" Tag="[奖杯]" File="emoji_175.png"/>
        <Emoticon ID="emoticon_emoji_76" Tag="[红心]" File="emoji_176.png"/>
        <Emoticon ID="emoticon_emoji_77" Tag="[万圣节]" File="emoji_177.png"/>
        <Emoticon ID="emoticon_emoji_78" Tag="[圣诞树]" File="emoji_178.png"/>
        <Emoticon ID="emoticon_emoji_79" Tag="[圣诞老人]" File="emoji_179.png"/>
        <Emoticon ID="emoticon_emoji_80" Tag="[彩虹伞]" File="emoji_180.png"/>
        <Emoticon ID="emoticon_emoji_81" Tag="[下雨]" File="emoji_181.png"/>
        <Emoticon ID="emoticon_emoji_82" Tag="[雪花]" File="emoji_182.png"/>
        <Emoticon ID="emoticon_emoji_83" Tag="[雪人]" File="emoji_183.png"/>
    </Catalog>
    

</PopoEmoticons>
